#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(218, 28%, 13%);
}

.header-container {
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(217, 28%, 15%);
}

.header-container--logo {
  height: 3.2rem;
}

.header-container--menu {
  list-style-type: none;
  display: flex;
}

.menu-item {
  margin: 0 2rem;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  color: rgba(255, 255, 255, 0.705);
  text-decoration: none;
}

.menu-link:hover {
  color: #fff;
}

.section {
  width: 100%;
}

.section-1 {
  background-color: hsl(217, 28%, 15%);
  background-image: url('../images/bg-curvy-desktop.svg');
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1--main-image {
  object-fit: cover;
}

.section-1--main-content {
  width: 50%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1--main-title {
  text-align: center;
}

.section-1--main-description {
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  width: 60%;
}

.section-1--main-button {
  margin-top: 1rem;
  width: 15%;
}

.default-button-style-round {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(hsl(198, 60%, 50%), hsl(176, 68%, 64%));
  border: none;
  color: #fff;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
}
.default-button-style-round:hover {
  opacity: 1;
}

.section-2 {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  margin: 15rem 0;
}

.section-2--main-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2--main-service-img {
  margin-bottom: 1rem;
}
.section-2--main-service-title {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.section-2--main-content {
  display: inline-block;
  text-align: center;
}

.section-3 {
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
}
.section-3--main-img {
  width: 48.5%;
  object-fit: cover;
}
.section-3--main-content-container {
  width: 48.5%;
}

.quotes-section {
  width: 86%;
  background-image: url('../images/bg-quotes.png');
  background-size: 8.6rem;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 4.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.quote-container {
  width: 30%;
  background-color:hsl(217, 27%, 19%);
  padding: 3rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem hsla(218, 28%, 19%, 0.13);
}

.quote-container:hover {
  transition: 4s;
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem hsla(218, 28%, 19%, 0.472);
}
.quote-info-container {
  display: flex;
  margin-top: 1rem;;
}
.quote-user-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.quote-user-info {
  color: white;
}

.quote-username {
  font-size: 1.3rem;
}
.quote-user-position {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0.15rem;
}


.section-5  {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 20rem 0;
  align-items: center;
  padding: 4rem;
  background-color:hsl(217, 27%, 19%);
  border-radius: 0.5rem;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem hsla(218, 28%, 19%, 0.472);
}

.section-5--main-content {
  text-align: center;
}
.section-5--get-started-div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.section-5--input-get-started {
  outline: none;
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  width: 50%;
}
.footer {
  margin-top: -28rem;
  background-color: hsl(216, 53%, 9%);
  width: 100%;
  padding: 15rem 6rem 4rem 6rem;
  display: grid;
  grid-template-columns: 1fr;
}

.footer--company-logo {
  height: 3.2rem;
  margin-bottom: 3.5rem;
}

.footer-section-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  color: white;
}
.footer-element--item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer-element--item--content {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 300;
  color:hsla(0, 0%, 100%, 0.822);
  text-decoration: none;
  display: inline-block;
}

.footer-section-container--footer-element {
  list-style-type: none;
  list-style-position: inside;
}

.extensive-footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 0;
}

.social-media-menu {
  display: flex;
}

.footer-element--item-icon {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: 4s;
}
.footer-element--item-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: 1px dashed #fff;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 4s;
}

.footer-element--item-icon:hover:after  {
  border-color: hsl(176, 68%, 64%);
  animation: rotate-social-media-icon 5s infinite linear;
}
.footer-element--item-icon:hover .i-icon-footer {
  color: hsl(176, 68%, 64%);
}

.i-icon-footer {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  transition: 0.3s;
  text-align: center;
}

@keyframes rotate-social-media-icon {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}


.footer-menu--info-icon-item {
  display: inline-block;
  height: 1.4rem;
  margin-right: 1rem;
}

.main-title {
  font-size: 3.2rem;
  color: white;
  margin-bottom: 1rem;
}

.normal-text {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.712);
  display: inline-block;
}